@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  @apply  bg-slate-950 text-white ;
}

*{
  scroll-behavior: smooth;
}

/* Riyansh added these */
.fixed-width {
  width: 65px;
}
.img-dimension{
  width: 30px;
  height: 30px;
}

.mycontainer {
  background-color: rgba(54, 53, 70, 0.166);
  backdrop-filter: blur(30px);
}

.inpt{
  background-color: rgba(54, 53, 70, 0.166);
  backdrop-filter: blur(30px);
}

/* These are for the code messages in the roomchat component  */
pre {
  background: #000 !important; 
}

code {
  background: #000 !important; 
}

/* --------------------CUSTOM SCROLLBAR---------------------- */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #323742;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1C1E24;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: #aaa;
}

/* -----------for hiding horizontal scrolling---------------- */
.no-scrollbar::-webkit-scrollbar {
  height: 0; 
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  
}

.bg-glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.room-card {
  background: linear-gradient(
    to bottom right, 
    rgba(0, 0, 0, 0.7), /* Dark color */
    rgb(50, 55, 72) /* Light color */
  );
}


.gradient-text {
  background: linear-gradient(
    to right,
    #6055f8,
    #fd6aee,
    #9c4af6,
    #4ea6fc,
    #6c12eb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.room-list-container {
  overflow: hidden;
  position: relative;
}

.room-list {
  max-height: calc(7 * 4rem); 
  overflow-y: auto;
  padding-right: 0.5rem; 
}

.room-list::-webkit-scrollbar {
  width: 0.5rem;
}

.room-list::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 1rem;
}

.room-list::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes shake-rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-rotation {
  animation: shake-rotation 0.8s ease;
}

@keyframes shake {
  0%, 100% { transform: rotate(0); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
}

.icon-shake:hover {
  animation: shake 0.5s ease-in-out;
}

/* For sucessful alert in roomlist */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out;
}

/* Adding for the highlight.js library */

.line-number {
  color: #888; 
  user-select: none; 
}

.code-message {
  font-size: 0.9rem; 
}

@media (max-width: 640px) { 
  .code-message {
      font-size: 0.5rem; 
      line-height: 2;
  }
}

.hljs {
  background-color: #23272D !important;
  padding: 10px; 
  border-radius: 5px; 
}

/* ScrollBar for typing bar */
textarea::-webkit-scrollbar {
  width: 8px; 
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}
